<h1>I am Lauriane</h1>

<h2>About me</h2>
<p>I love my boyfriend so much even though he is getting really... really old!</p>

<%= link_to 'Blog Posts', articles_path %> |
<%= link_to 'Home', root_path %>
