<footer id="sticky-footer" class="py-4">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "KZ Designs", "https://kzdesigns.github.io/kzdesignswebsite/", id: "sticky-footer" %></small>
  </div>
</footer>
